:root {
    /*FUENTES*/
    --titles-regular: "Atkinson Hyperlegible";
    --subtitles: "Arial Nova";
    /*COLORES*/
    --light-purple: #ddcdfa;
    --purple: #8e59ef;
    --light-gray: #f8f8f8;
    --white: #ffffff;
    --black: #000000;
}

.speech-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

.speech-legend {
    background-color: var(--light-purple);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: medium;
}

.comandos-title {
    margin-bottom: 20px;
    text-align: center;
}
