@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("fonts/Atkinson-Hyperlegible-Regular-102.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    /*FUENTES*/
    --titles-regular: "Atkinson Hyperlegible";
    --subtitles: "Arial Nova";
    /*COLORES*/
    --light-purple: #ddcdfa;
    --purple: #8e59ef;
    --light-gray: #f8f8f8;
    --white: #ffffff;
    --black: #000000;
    --medium-gray: #aaabae;
}
/*FONDOS*/
.bg-vook{
    background-image: url("../img/fondos/vook_main_bg.png");
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
}


/*ELEMENTOS PRINCIPALES*/
body {
    font-family: var(--titles-regular);
    margin: 0;
    padding: 20px;
    background-color: var(--white);
}
  
header {
    font-family: var(--titles-regular);
    text-align: center;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: var(--black);
}

p {
    margin-top: 0;
}

h4 {
    margin-bottom: 0;
}
  
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
  
.libro {
    background-color: var(--light-gray);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 8px var(--light-purple);
    cursor: pointer; 
    text-decoration: none;
    color: var(--black);
}


.libro img{
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px;
}

.libro h2 {
    font-size: 16px;
    margin: 10px 0;
}
.speech-legend{
    display: none;
    align-items: center;
}


.book-info, .comment-section {
    margin: 20px 20px 20px 20px;
    padding: 3%;   
    
}

.book-info{
    display: flex;
    align-items: center;
}

.book-info-left{
    background-color: var(--light-purple);
    border-radius: 15px;   
    padding: 2%;
}

.book-info-left, .book-info-rigth{
    margin: 2%;
}

.imagen-libro{
    width: auto;
    height: 100%;
    object-fit: cover;
    max-width: 600px; 
}

.valoracion {
    display: block;
    align-items: center;
    justify-content: center;
}

.valoracion-title{
    margin:0;
}


.rating-container{
    display: inline;
}

.checked{
    color: orange;
}
.unchecked{
    color: var(--medium-gray);
}
.star-button{
  font-size: 1.2em;
  cursor: pointer;
}

.resena {
    font-size:larger;
}


.info-resenas {
    display: flex;
    align-items: center;
    justify-content: left;
    align-items: baseline;
}

.valoracion-resena{
    margin-left: 2%;
}

/*CONTENEDORES*/  
.main-low-container{
    width: 100%; 
    margin: auto; 
    height: 50%;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    position: absolute; 
    bottom: 5%; 
}




/*BOTONES*/
button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
    
}


.bg-vook:hover {
    background-color: var(--light-purple);
}

.main-button{
    margin: 10%;
    padding: 20px 20px;

    border: none;
    border-radius: 15px;

    background-color: var(--purple);
    color: var(--white);

    cursor: pointer; 
    text-decoration: none;

    display: inline;
    min-height: 50px;

    font-size: 1.1em;
    font-weight: bold;
    
}

.leer-button-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.leer-button{
    min-width: 100%;
}


.speech-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.speech-legend {
    background-color: var(--light-purple);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: medium;
}

.comandos-title {
    margin-bottom: 20px;
    text-align: center;
}


/*NOTIFICACIONES*/
/* Notificación centrada con fondo oscurecido */
#notification-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscurecido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden; /* Ocultar por defecto */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#notification-container.active {
    visibility: visible;
    opacity: 1;
}

.notification {
    background-color: var(--light-purple);
    color: var(--black);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 90%;
    animation: fadeIn 0.3s ease-in-out;
}

.notification button {
    background-color: var(--purple);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}

.notification button:hover {
    background-color: #8e3fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}



/*FOOTER*/

.book-footer {
    bottom:0;
    left:0;
    position:left;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lighter-green);
    width:100%;
    padding: 1%;
}

