:root {
    /*FUENTES*/
    --titles-regular: "Atkinson Hyperlegible";
    --subtitles: "Arial Nova";
    /*COLORES*/
    --light-purple: #ddcdfa;
    --purple: #8e59ef;
    --light-gray: #f8f8f8;
    --white: #ffffff;
    --black: #000000;
}

/*UTILITIES*/
.text-center {
    text-align: center;
}


/*CLASSES*/
.button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
    
}

.audiobook, .paragraph {
    display: None;
}

.audio-on, .audio-off {
    display: block;
}